data/data.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="alimentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alimento" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <xs:element name="id_alimento" type="xs:int"/>
              
              <xs:element name="nombre" type="xs:string"/>
              
              <xs:element name="kcal" type="xs:int"/>
              
              <xs:element name="proteinas" type="xs:decimal"/>
              
              <xs:element name="carbohidratos" type="xs:decimal"/>
              
              <xs:element name="grasas" type="xs:decimal"/>
            
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>